- flash.each do |name, msg|
  - if msg.kind_of?(Array)
    %div{class: flash_class(name)}
      = content_tag :div, flash_html_safe(msg.join("<br/>"))
  - else
    %div{class: flash_class(name)}
      = content_tag :div, flash_html_safe(msg)
