= simple_form_for @currency, url: admin_currency_path(@currency), html: {novalidate: true}  do |f|
  -#.form-group
    = f.input :name, input_html: {class: 'form-control '}
  .form-group
    = f.input :rate, input_html: {class: 'form-control'}
  .form-group
    = f.input :forced_date, as: :string, input_html: {class: 'form-control datepicker'}
  -#.form-group
    = f.input :state, collection: @currency.state_paths.to_states, include_blank: false

  .form-group
    = f.submit "Save", class: "btn btn-success"
    = link_to "Cancel", admin_root_path, class: "btn btn-info"
