!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CurrencyRateService
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-dark.bg-dark.fixed-top
        .container
          = link_to 'RateService', root_path, class: "navbar-brand"
    %main.container
      = render 'layouts/partial/flashes'
      = yield
  %footer.footer
    .container
      = link_to "Курсы ЦБ РФ в XML и JSON, API", "#", class: "text-muted", onclick: "window.open('https://www.cbr-xml-daily.ru/');return false;"
